.carousel{

    width: 90%;
    margin: 200px auto;
}

.carousel-cell {
    width: 33%;
    margin: 0 auto;
}

.carousel-cell img {
    display: block;
    height:500px;
    width: auto;

    margin: 0 auto;
}
  

