:root{
    --color1: #1b1517;
    --color2: #535749;
    --color3: #2a3036;
    --color4: #574f5d;
    --color5: #838187;
    --color6: #fff;
}

.contacto {
    display: block;

    height: auto;
    width: 600px;

    margin: 100px auto;
    padding: 50px 25px;

    color: #fff;
    background-color: #65647C;
    border: 1px solid #fff;
}

.contacto h1{
    text-align: center;
}

.text-contact{
    margin: 0 auto;
    width: 90%;
    text-align: justify;

}

.btn-contacto button{

    display: flex;  


    font-size:20px;
    margin: 25px auto;
    padding: 20px 25px;
    cursor: pointer;

    color: #ffff;
    background-color: var(--color5);
    border: none;

    background-image: linear-gradient(rgb(0, 0, 0,0), rgb(0, 0, 0, 0));

    transition: background-color 1s ;
}

.btn-contacto button:hover{
    background-image: linear-gradient(rgb(0, 0, 0,0.3), rgb(0, 0, 0, 0.3));
}

.input-contact {
    
    margin: 15px auto;
    padding: 30px;
    color: var(--color1);
    background-color: var(--color6);
    border-radius:10px;
}

.input-contact input {

    margin: 10px 0px;
    padding: 5px 0px;
    padding-left: 5px;

    color: var(--color1);
    background: none;
    border: none;
    border-bottom: 1px solid var(--color3);
}
.input-contact [type="checkbox"]{
    width: 25px
}
.input-contact [type="text"], .input-contact [type="email"],.input-contact [type="tel"] {
    width: 100%;

}





.input-contact select {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    padding-left: 5px;

    color: #fff;
    background: none;
    border: 1px solid var(--color3);


}

.input-contact input::placeholder, .input-contact textarea::placeholder, .input-contact select{
    color: var(--color3);
}   

.input-contact input:focus, .input-contact textarea:focus {
    outline: none !important;
    box-shadow: none;
    border:1px solid #fff;
}


.input-contact textarea {
    height: 150px;
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    padding-left: 5px;

    color: black;
    background: none;
    border: 1px solid var(--color3);


}

.input-contact img {
    display: flex;
    margin: 0 auto;
}

#segundaimagen {
    width: 100%;
}

.input-radio {
    display: block;
    margin-top: 25px;
}

.flex-item{
    display: flex;
    width: 100%;
}

.flex-item input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-right: 10px;
}

.centroRadios{
    align-items: center;
    justify-content: center;
}

#otraplantaradio, #otroAdicional{
    margin-top: 15px;
}

#labelotraplanta{
    margin-top: 15px;
    width: 100px;
}
#adicionalLabel{
    margin-top: 15px;
    width: 110px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 10px auto;
}

.grid-container [type="checkbox"]{
    margin: 0 auto;
    width: 20px;
}


.grid-container2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0 auto;
    text-align: center;
    place-items: center;
    justify-content: center;
}




.grid-container3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 10px auto;
}

.grid-container3 img {
    height: 150px;
    width: 200px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.1s;
}

.grid-container3 img:hover {
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 1);
}

.grid-container2 input[type="checkbox"]{
    margin: 10px auto;
    height: 20px;
    width: 20px;

}
.grid-item{
    text-align: center;
}



.gris {
    background-color: #8381872c;
}






.error{
    display: none;
    color: #ca0000;
    font-size: 15PX;
    letter-spacing: 1px;

}

#adicional-error1{
    margin-left: 120px;
}












@media screen and (min-width: 1000px) and (max-width: 1300px) {



}

@media screen and (min-width: 800px) and (max-width: 1000px) {



}

@media screen and (min-width: 601px) and (max-width: 799px) {



}
  
@media screen and (max-width: 600px) {
    .contacto {
        display: block;
    
        height: auto;
        width: 100%;
    
        margin: 0px auto;
        padding: 50px 0px;
    
        color: #fff;
        background-color: var(--color3);
        border: 0px solid #fff;
    }
    
    .input-contact img{
        height: 25vh;
        width: auto;
        margin: 20px auto;
    }

    .grid-container3{
        display: block;
    }
    
    #adicional-error1{
        margin-left: 100px;
    }

    #adicionalLabel{
        margin-top: 5px;
    }
    
    

}
