
header {
    z-index: 2;

    position: fixed;
    height: 100px;
    width: 100%;
    
    background-color: none;
    /* background-color: #9F8772; */
    
}

.header-scroll{
    background-color: #9F8772;
}

.logo {
    float: left;
    margin: 25px 50px;
}

.logo img {
    height: 50px;
    width: 150px;
}
.btn {
    margin: 40px 0px;
    float: right;

}

.btn button {
    font-size: medium;

    cursor: pointer;
    margin: 0px 5px;
    padding: 3px 5px;


    color: #ffff;

    background-color: transparent;
    border:none;
    
    /* background-color: #9F8772;
    border: 2px solid #9F8772; */
    transition: border-bottom 2s;
}

.btn button:hover {
    border-bottom:1px solid #fff ;
}


.btn-principal button{
    font-size:15px;
    display: table;
    float: right;
    margin: 25px 50px;
    padding: 20px 25px;
    cursor: pointer;

    color: #ffff;
    background-color: #A1C298;
    border: none;

    background-image: linear-gradient(rgb(0, 0, 0,0), rgb(0, 0, 0, 0));

    transition: background-color 1s ;
}

.btn-principal button:hover{
    background-image: linear-gradient(rgb(0, 0, 0,0.3), rgb(0, 0, 0, 0.3));
}