:root{
    --color1: #1b1517;
    --color2: #535749;
    --color3: #2a3036;
    --color4: #574f5d;
    --color5: #838187;
}

.herobaner {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.herobaner video{

    position:relative;
    height:90%;
    width:100%;
    top: 0;
    left: 0;
    z-index: 0;

    filter: brightness(60%);

    /* background-image: linear-gradient(rgb(0, 0, 0, 0.3),rgb(0, 0, 0,0.3)); */

}

.herobaner-content {

    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 1;
    text-align: center;
    color: #f1f1f1;
}

.herobaner-content h1 {
    padding: 20px 0;
    font-size: 50px;
}
.herobaner-content h3{
    padding: 20px 0;
    font-size: 30px;


}


.btn-hero button{
    font-size:20px;
    margin: 30px auto;
    padding: 20px 25px;
    cursor: pointer;

    color: #ffff;
    background-color: var(--color5);
    border: none;

    background-image: linear-gradient(rgb(0, 0, 0,0), rgb(0, 0, 0, 0));
}

.btn-hero button:hover{
    background-image: linear-gradient(rgb(0, 0, 0,0.3), rgb(0, 0, 0, 0.3));
}



@media screen and (max-width: 600px) {

    *{
        margin: 0;
        padding: 0;
        display: block;
    }


    .herobaner {
    }

    .herobaner video{
        
    }    
    

    .herobaner-content {
        top: 0;
        left: 0;
    }

    .herobaner-content h1, .herobaner-content h3 {
        font-size: 25px;
    }

    .btn-hero button{
        font-size:15px;
        padding: 10px 15px;
        
    }
    
}
  
@media screen and (min-width: 601px) and (max-width: 900px) {
/* Estilos para pantallas entre 601px y 900px de ancho */
}

@media screen and (min-width: 901px) {
/* Estilos para pantallas de 901px de ancho o más */
}
  