
:root{
    --color1: #ffff;
    --color2: #F8F0DF;
    --color3: #ECE8D9;
    --color4: #FDFAF6;
    --color5: #A6A9B6;
}

* { 
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffff var(--color1);

}

h1, h2, h3, h4 ,h5 {
    font-family: 'Roboto', sans-serif;

}

p, a, button, div, input, label  {
    font-family: 'Rajdhani', sans-serif;
}



main {
    margin-left: 100px;
    margin-right: 100px;
}

.margin {
    margin: 50px 0px;
}

.big-margin {
    margin: 1000px 0px;
}


@media screen and (min-width: 601px) and (max-width: 799px) {
    main {
    margin-left: 50px;
    margin-right: 50px;
}

}


@media screen and (max-width: 600px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .margin {
        margin: 25px 0px;
    }
    .margen-oculto{
        display: none;
    }

    .big-margin{
        margin: 200% 0px;
    }
}